
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:#F2F4F3;
  width: 100%; 
  overflow-x: hidden;  
  margin-left: 0;
  box-sizing: border-box;
}

/******** NAVBAR********/

nav {
    background-color: #2A272A;
    color: #F2F4F3;
    display: flex;
    height: 55px;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  nav a {
    color: #F2F4F3;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }

  .dropdown-content {
    background-color: #2A2729;
    color: #F2F4F3;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  a.dropdown-arrow:after {
    content: " ▼";
    font-size: 0.2em;
  } 
 

/******** SLIDESHOW ********/

.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin-top: 20px; */
  }
  
  .mySlides {
    display: none;
    position: relative;
    /* text-align: center;
    color: white;
    font-weight:800;
    font-size: 2rem; 
    text-shadow: 1px 1px 2px black;  */
  }
  .mySlides img {
    max-height: 770px;
    object-fit: cover;
  }

  /* .bottom-left {
    position: absolute;
  bottom: 10%;
  left: 10%;
  /* transform: translate(-50%, -50%); 
   } */ 
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #494449;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #857f74;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #494449;
    cursor: pointer;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 0}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/******** OUR STORY ********/

.story-container {
    text-align: center;
    margin-top: 30px;
}

/******** RESERVE NOW ********/

.reserve-container {
    position: relative;
    width: 100%;    
}
.reserve-container .reserve-img {
    margin-top: 40px;
    max-width: 100vw;
    max-height: 400px; 
    object-fit: cover;
    object-position: 100% 40%;
    /* opacity: 0.9; */
}

.reserve-container .reserve-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #8E9189;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reserve-container .reserve-btn:hover {
    background-color: #49111c;
  }

/********  OUR INGREDIENTS ********/

section h2 {
  margin-bottom: 20px;
}

  .ingredients-container {
    text-align: center;
    margin-top: 40px;
}
.inline {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: auto;
 }


.menu-btn {
    margin-top: 20px;
    background-color: #8E9189;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 
.menu-btn:hover {
    background-color: #49111c;
  }

/******** REVIEW ********/

.review-container{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #857f74;
    color: white;
}

figure {
    font-style: italic;
}
figure p {
  color: #F2F4F3;
}

figcaption {
    font-style: normal;
    margin-top: 10px;
}

/******** FOOTER ********/
footer {
  background-color: #494449;
  color: #F2F4F3;
  padding: 40px 0;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-left h3,
.footer-right h3 {
  font-size: 18px;
  margin-bottom: 20px;
}


.footer-left p {
  color: #F2F4F3;
}


.social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #F2F4F3;
}

.copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  color: #F2F4F3;
}

/******** CONTACT FORM *******/

.form-container{
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width:85%;
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: auto;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}


/****** GALLERY ******/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.img-container {
  width: 30%;
  text-align: center;
  margin: 10px;
}

.gallery-images {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

